.image-bg{
background-image: url(pic1.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;
}

.name{
  background: rgba(255, 255, 255, 0.548);
  justify-content: start;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 2px;
  margin: 20px 50px;
  color:rgb(10, 73, 28);
}

.my-button{
  background: rgba(255, 255, 255, 0.883);
  justify-content:space-between;
  box-shadow: 1px 1px 3px #e7e7e7;
  border-radius: 6px;
    color:rgb(10, 73, 28);

}



/* .portfolio {
  background: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content:space-between;
  flex-flow: row wrap;
  align-content: ;
  padding: 10px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 10px;
  margin: 20px 20px;
  color:black;
  align-items: center;
} */


.skills{
  background-color: rgba(226, 134, 134, 0.808);
/* border-radius: 4px;
  margin-top: 10px;
  height: 100px;
  width: auto;
  max-width: 250px; */
  /* align-items: center; */
}

.skill-badge{
  /* width:auto;
  height: auto; */
  max-height: 75px;
  max-width: 75px;
}

/* .about-me{
background: rgba(255, 255, 255, 0.945); */
  /* display: flex;
  justify-content:space-around; */
  /* align-content: ; */
  /* padding: 10px; */
  /* box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 20px;
  color:black; */
  /* align-items: center; */
/* } */


/* .about-metext{
background: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content:space-around; */
  /* align-content: ; */
  /* padding: 10px; */
  /* box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 20px;
  color:black; */
  /* align-items: center; */
/* } */


.portfolio{
  background-color: rgb(240, 181, 133);
}

.kanban{
  background-image: url(Kanban_Boards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.kanban:hover{
  background-color: #536DFE;
  background-image: url(Kanban_Boards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.flip{
  background-image: url(Flip.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}
.flip:hover{
  background-color: #536DFE;
  background-image: url(Flip.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.grimtol{
  background-image: url(grimtol.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.grimtol:hover{
  background-color: #536DFE;
  background-image: url(grimtol.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* .inspire{
  background-image: url(Inspire.png);
}
.inspire:hover{
  background-color: #536DFE;
  background-image: url(Inspire.png);
} */
.music{
  background-image: url(Music.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.music:hover{
  background-color: #536DFE;
  background-image: url(Music.png);
  background-size: contain;
  background-repeat: no-repeat;

}
.battle{
  background-image: url(BattleCards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.battle:hover{
  background-color: #536DFE;
  background-image: url(BattleCards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.slapgame{
  background-image: url(SlapGame.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.slapgame:hover{
  background-color: #536DFE;
  background-image: url(SlapGame.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.disapper{
  opacity: 0;
}
.card{
  height: 100%;
  background-color: rgba(41, 53, 121, 0.867);
  color: #e7e7e7;

}
.disapper:hover{
  opacity: 100;
}
.large {
  height:25vh;
}

