.image-bg{
/* transform: rotate(90deg); */
background-image: url(pic1.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;
/* min-width: 100%; */
}

.name{
  background: rgba(255, 255, 255, 0.548);
  /* text-align: left; */
  justify-content: start;
  /* padding: 5px; */
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 2px;
  margin: 20px 50px;
  color:black;
}

.my-button{
  background: rgba(255, 255, 255, 0.883);
  /* display: flex; */
  justify-content:space-between;
  /* align-content: ; */
  /* padding: 10px; */
  box-shadow: 1px 1px 3px #e7e7e7;
  border-radius: 6px;
  /* margin: 20px 20px; */
  /* color:black; */
  /* align-items: center; */

}

.about-me{
background: rgba(255, 255, 255, 0.945);
  display: flex;
  justify-content:space-around;
  /* align-content: ; */
  /* padding: 10px; */
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 20px;
  color:black;
  /* align-items: center; */
}


.about-metext{
background: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content:space-around;
  /* align-content: ; */
  /* padding: 10px; */
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  margin: 20px 20px;
  color:black;
  /* align-items: center; */
}


.portfolio {
  background: rgba(255, 255, 255, 0.808);
  display: flex;
  justify-content:space-between;
  /* flex-flow: row wrap; */
  /* align-content: ; */
  /* padding: 10px; */
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 10px;
  margin: 20px 20px;
  color:black;
  /* align-items: center; */
}

.projects{
  /* background: rgba(255, 255, 255, 0.808); */
  display: flex;
  justify-content:space-around;
  /* align-content: ; */
  /* padding: 10px; */
  /* box-shadow: 1px 1px 2px #e7e7e7; */
  border-radius: 4px;
  margin: 40px 40px;
  color:black;
}


.skills{
  background: rgba(255, 255, 255, 0.808);
  border-radius: 4px;
  margin-top: 10px;
  height: 100px;
  width: auto;
  max-width: 250px;
  /* align-items: center; */
}

/* .skills {
  background: rgba(255, 255, 255, 0.808);
  padding: 30px;
  box-shadow: 1px 1px 2px #e7e7e796;
  border-radius: 4px;
  /* margin: 20px 50px; */
/* } */ 
/* .box{
background-color: lightgrey;
color: black;
} */


.portfolio{
  background-color: rgb(25, 154, 214);
}
/* .darkside{
  background-image: url(darkside.png);
} */
.darkside:hover{
  background-color: #536DFE;
  background-image: url(darkside.png);
}
.kanban{
  background-image: url(Kanban_Boards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.kanban:hover{
  background-color: #536DFE;
  background-image: url(Kanban_Boards.png);
}
.flip{
  background-image: url(Flip.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}
.flip:hover{
  background-color: #536DFE;
  background-image: url(Flip.png);
}
.grimtol{
  background-image: url(grimtol.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.grimtol:hover{
  background-color: #536DFE;
  background-image: url(grimtol.png);
}
/* .inspire{
  background-image: url(Inspire.png);
}
.inspire:hover{
  background-color: #536DFE;
  background-image: url(Inspire.png);
} */
.music{
  background-image: url(Music_is_fun.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.music:hover{
  background-color: #536DFE;
  background-image: url(Music_is_fun.png);
  background-size: contain;
  background-repeat: no-repeat;

}
.battle{
  background-image: url(BattleCards.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.battle:hover{
  background-color: #536DFE;
  background-image: url(BattleCards.png);
}
.slapgame{
  background-image: url(SlapGame.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.slapgame:hover{
  background-color: #536DFE;
  background-image: url(SlapGame.png);
}
.disapper{
  opacity: 0;
}
.card{
  height: 100%;
  background-color: #536DFEDD;
  color: #e7e7e7;

}
.disapper:hover{
  opacity: 100;
}
.large {
  height:25vh;
}

img{
  max-height: 150px;
}