.image-bg{
background-image: url(pic1.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;
}

.name{
  background: rgba(255, 255, 255, 0.548);
  /* justify-content: start; */
  box-shadow: 1px 1px 2px #3b3a3a;
  border-radius: 6px;
  margin: 50px 50px;
  color:rgb(10, 73, 28);
}

.my-button{
  background: rgba(255, 255, 255, 0.883);
  justify-content:space-between;
  box-shadow: 1px 1px 2px #3b3a3a;
  border-radius: 6px;
  color:rgb(10, 73, 28);
  
}

.portfolio{
  background-color: rgb(240, 181, 133);
}

.flip{
  background-image: url(flip2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.flip:hover{
  background-image: url(flip2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .keeper{
  background-image: url(keeper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.keeper:hover{
  background-image: url(keeper.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.grimtol{
  background-image: url(grimtol.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.grimtol:hover{
  background-image: url(grimtol.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.kanban{
  background-image: url(kanban.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.kanban:hover{
  background-image: url(kanban.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .battle{
  background-image: url(BattleCards.png);
  background-size: contain;
  background-repeat: no-repeat;  
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.battle:hover{
  background-image: url(BattleCards.png);
  background-size: contain;
  background-repeat: no-repeat;
} */

.music{
  background-image: url(music.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.music:hover{
  background-image: url(music.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slapgame{
  background-image: url(slapgame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.slapgame:hover{
  background-image: url(slapgame.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* .inspire{
  background-image: url(inspire.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(248, 223, 113, 0.808);
}
.inspire:hover{
  background-image: url(inspire.png);
  background-size: contain;
  background-repeat: no-repeat;
} */


.disapper{
  opacity: 0;
}
.card{
  height: 100%;
  background-color: rgba(41, 53, 121, 0.867);
  color: #e7e7e7;

}
.disapper:hover{
  opacity: 100;
}



.skills{
  background-color: rgba(248, 223, 113, 0.808);
}

.skill-badge{
  max-height: 75px;
  max-width: 75px;
}



.about{
  background-color: rgb(240, 181, 133);
}

.link{
  color: #e7e7e7;
}

